<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionsFromCsvService" class="ru.otus.spring.service.impl.QuestionsFromCsvServiceImpl">
        <property name="csvFile" value="/csv/question.csv"/>
        <constructor-arg name="fileLoader" ref="fileLoader"/>
    </bean>

    <bean id="testSimpleService" class="ru.otus.spring.service.impl.TestSimpleServiceImpl">
        <constructor-arg name="questionService" ref="questionsFromCsvService"/>
    </bean>

    <bean id="fileLoader" class="ru.otus.spring.service.impl.FileLoaderImpl"/>

</beans>
